<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body style="background: rgb(170, 214, 241)">
    <nav class="navbar navbar-expand-lg bg-info text-light">
      <a class="navbar-brand text-light" style="margin-left: 2rem">WEB322 - Het</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-primary" href="/" 
              >Home </span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" href="about">About</a>
          </li>
         
            
          <li class="nav-item">
            <a class="nav-link text-light" href="/employees" style="margin-left: 48rem">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/managers">Managers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/departments">Department</a>
          </li>
        </form>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row">
        <aside class="col-md-3">
        
          <div class="card">
            <div class="card-header" style="background: blue; color:white">
              <h2>Comming Soon</h2>
            </div>
            <div class="card-body">
            
              <p class="card-text">This section will provide you with the big events which will coming
                soon
              </p>
    
            </div>
        </aside>
        <section class="main col-md-9">
          <article>
            <div class="card">
              <div class="card-header" style="background: blue; color:white">
                <h2>Welcome</h2>
              </div>
              <div class="card-body">
              
                <p class="card-text">Upgrade your HR teams and employees with the powerful tools across Hire to Retire processes including ATS, recruitment, onboarding, confirmation, payroll, appraisal, and automating all aspects of HR functions. Utilize L&D and training management modules to monitor and upskill employees offering training integrated with Performance Management. Track employee progress with training evaluation monitoring with integrated upskill and cross skill trainings Offer seamless quick and digital expenses management for your employees, automate shift and hybrid working with rosters management, multi-language accessibility for your employees: all from a single HRMS platform: Pocket HR Platform.
                  Upgrade your HR teams and employees with the powerful tools across Hire to Retire processes including ATS, recruitment, onboarding, confirmation, payroll, appraisal, and automating all aspects of HR functions. Utilize L&D and training management modules to monitor and upskill employees offering training integrated with Performance Management. Track employee progress with training evaluation monitoring with integrated upskill and cross skill trainings Offer seamless quick and digital expenses management for your employees, automate shift and hybrid working with rosters management, multi-language accessibility for your employees: all from a single HRMS platform: Pocket HR Platform.
                </p>
      
              </div>
          </article>
        </section>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
